/* Desktop Layout */
body{
  font-size: 1.4rem;
}
.container{
  flex-flow:column nowrap;
  align-items: center;
}

.appHeader, .appMain{
  width:1000px;
}
/* 헤더 */
.appHeader{
  position: relative;
  padding-bottom: 1em;
  min-height: 60px;
}
/* 로고 */
.brand{
  position: absolute;
  top:50%;
  left:0;
margin-top:-30px;
}

.memberOnly{
  text-align: right;
  font-size:0;
  padding: 2px 0;
  margin-right: -14px;
 
}
.memberOnly li{
  display: inline-block;
  font-size:1.4rem;
}


/* 검색폼 */
.searchForm{
  text-align: right;
}
[type="search"], .buttonSearch{
  vertical-align: middle;
}
[type="search"]{
  width:400px;
}

.buttonSearch{
  background: #988574;
  color:#fff;
  height:35px;


}
.appNavigation, .appFooter{
 width:100%;
}
/* 메인메뉴 */
.buttonBurger{
  display: none;
}
.appMain{
  flex-flow:row wrap;
  justify-content: space-between;
}

.book{
  width:320px;
}
.news{width:660px;
}
.board{
  width:320px;
}
.favorite{
  width:240px;
}
.twitter{
  width:400px;
}