/* Common Layout */
.container{
  background:silver;
  display:flex;
}

/* header */
.appHeader{
  background: yellow;

  }

  /* navigation */
.appNavigation{
  background: orange;

  }

  /* main */
.appMain{
  background: blue;

  display: flex;
  }

  /* book */
.book{
  background: lime;
  }

  /* news */
.news{
  background: yellow;
  }
   /*board */
.board{
  background: blue;
  }
   /* favorite */
.favorite{
  background: tomato;
  }
  /*twitter*/
  .twitter{
    background: aqua;
    }
     /* footer */
  .appFooter{
    background: lime;
    
    }
