/* Common Layout */
/* 기본 box-sizing 설정 */
*, *::before, *::after{
  box-sizing: border-box;
}


.container{
  background:silver;
  display:flex;
}

/* header */
  /* 멤버서비스 */
  .memberOnly{
    padding-top: 2px;
    padding-bottom: 2px;
  }

.memberOnly a{
  display:inline-block;
  padding: 0.5em 1em;
}
  /* navigation */
.appNavigation{
  background: orange;

  }

  /* main */
.appMain{
  background: blue;

  display: flex;
  }

  /* book */
.book{
  background: lime;
  }

  /* news */
.news{
  background: yellow;
  }
   /*board */
.board{
  background: blue;
  }
   /* favorite */
.favorite{
  background: tomato;
  }
  /*twitter*/
  .twitter{
    background: aqua;
    }
     /* footer */
  .appFooter{
    background: lime;
    
    }
